<div class='visualization'>
  <%= fields_for :visualization do |f| -%>

    <div class='field'>
      <%= f.label :legend -%>
      <%= f.text_field :legend, :class => 'larger widest' -%>
    </div>

    <div class='field'>
      <%= f.label :dataset_id -%>
      <%= f.select :dataset_id, options_for_select(Dataset.all.map{|d| [d.name,d.id]}) -%>
    </div>

  <% end -%>

</div>
